{% extends 'main.html' %}
{% block title %}Decode My Life{% endblock %}
{% block content %}
<script src="static/html5-qrcode.min.js"></script>

<div class="row justify-content-center pt-5">
    <div style="width:500px;" id="reader"></div>
</div>
<div class="row justify-content-center text-center mt-5 pb-5">
    <h4>SCAN RESULT</h4>
    <div id="result">Result Here</div>
</div>

<script type="text/javascript">
    function onScanSuccess(qrCodeMessage) {
        document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';
        }
    
    function onScanError(errorMessage) {
        //handle scan error
    }
    
    var html5QrcodeScanner = new Html5QrcodeScanner(
        "reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>

{% endblock %}