{% extends 'main.j2' %}
{% block title %}{% endblock %}
{% block head %}{{ super() }}{% endblock %}
{% block content %}
    <h1>QR My Life</h1>

    <span >
        <button id="qrcode-reader-button">Decode My Life</button>
    </span>
    <div id="form-container">
        <form id="encode-text" method="post" action="{{ url_for('gen_qrcode') }}">
            <input id="encode-text-input" name="encode-text-input" type="text" placeholder="enter text to be encoded"
                   value="">
            <input id="encode-text-submit" type="submit" name="submit" value="Submit">
        </form>
    </div>
    <p id="options-instructions">Select an option to generate a QR code</p>

    <div id="qrcode-options-container">
        {% set options = ['Text', 'URL', 'Wifi', 'vCard', 'MeCard', 'Geographic Infomation',
'EPC'] %}
        {% for opt in options %}
        <ul id="collapse-qr-options">
            <li>
                <label for="{{ opt }}" class="qr-options">{{ opt }} <span>&#65291</span></label>
                {% if opt[0] %}
                <input type="radio" name="collapsible" id="{{ opt }}" checked>
                {% else %}
                <input type="radio" name="collapsible" id="{{ opt }}">
                {% endif %}
                    <div class="content" id="content-{{ opt }}">
                        <p >form</p>
                    </div>
            </li>
        </ul>
        {% endfor %}
    </div>

    <div id="qrcode-container">
        {% if code %}
            <button class="btn"><a href="data:image/png;base64,{{ code }}" download="qr_code" ><img src="data:image/png;base64,{{ code }}"/> </a> <i class="fa-fa-download"></i> Download</button>
        {% endif %}
    </div>

    <span id="colorPicker-container">
        <p>Click the color picker below to select a custom color for your qr code </p>
        <input id="color-picker" type="color" value="">
    </span>
    <div id="instruction-container">
        <span>
            <h2>Looking to read your existing QR code click the "Decode My Life" button in the top right corner!</h2>
        </span>
    </div>



{% endblock %}
