{% extends "bootstrap/base.html" %}
{% block title %}{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light style='background-color:#85DCB' ">
  <a class="navbar-brand" href="#">QR My Life</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Encode My Life</a>
      <a class="nav-item nav-link" href="#">Decode My Life</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Sign up/Log in</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
        &copy; Copyright 2022 by <a href="http://domain.invalid/">QR My Life</a>.
{% endblock %}
